body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+51,207cca+74,2989d8+89,2989d8+97,2989d8+97,207cca+100,207cca+100,207cca+100,7db9e8+100,207cca+100,207cca+102 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(30,87,153) 51%, rgb(32,124,202) 74%, rgb(41,137,216) 89%, rgb(41,137,216) 97%, rgb(41,137,216) 97%, rgb(32,124,202) 100%, rgb(32,124,202) 100%, rgb(32,124,202) 100%, rgb(125,185,232) 100%, rgb(32,124,202) 100%, rgb(32,124,202) 102%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(30,87,153) 51%,rgb(32,124,202) 74%,rgb(41,137,216) 89%,rgb(41,137,216) 97%,rgb(41,137,216) 97%,rgb(32,124,202) 100%,rgb(32,124,202) 100%,rgb(32,124,202) 100%,rgb(125,185,232) 100%,rgb(32,124,202) 100%,rgb(32,124,202) 102%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(30,87,153) 51%,rgb(32,124,202) 74%,rgb(41,137,216) 89%,rgb(41,137,216) 97%,rgb(41,137,216) 97%,rgb(32,124,202) 100%,rgb(32,124,202) 100%,rgb(32,124,202) 100%,rgb(125,185,232) 100%,rgb(32,124,202) 100%,rgb(32,124,202) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

h1, ol, ul{
    margin-block-start: 0;
    margin-block-end: 0;
}

.propertyForP{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ol{
    margin:0;
    padding:0;
}

.wrapper{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.blockPerson li{
    list-style-position: inside;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    position: relative;
    color: #aaacae;
}

.blockPerson li:nth-child(2n){
    background-color: #e8eff4;
    box-sizing: border-box;
    border: 1px solid #e8e9ec;
}

.blockPerson li .liWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    position: absolute;
    top: 16%;
    left: 4%;
}

li:nth-child(-n+3) .medal{
    width: 32px;
    height: 60px;
    /*background-image: url(./images/medals/1st.svg), url(./images/medals/2nd.svg), url(./images/medals/3rd.svg);*/
}

li:nth-child(n+2):nth-child(-n+3) .medal{
    margin-left: 1%;
}

li:nth-child(1) .medal{
    background-image: url(../../images/medals/1st.svg);
}

li:nth-child(2) .medal{
    background-image: url(../../images/medals/2nd.svg);
}

li:nth-child(3) .medal{
    background-image: url(../../images/medals/3rd.svg);
}

li:nth-child(10){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.blockPerson span{
    margin-right: 60px;
}

.searchMain {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: none;
    min-height: 80px;
    background-color: #e7eef4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.searchMain form{
    margin-left: 1%;
    width: 100%;
}

input[type="text"] {
    border: none;
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 85%;
    vertical-align: middle;
    font-size: 20px;
    background-color: #e7eef4;
    padding-left: 15px;
    color: #293e4c;
    font-weight: bold;
}

input::-moz-placeholder { color: #bec3c9; } /*Firefox*/
input::-webkit-input-placeholder { color: #bec3c9; } /*Safari AND Chrome*/

input[type="submit"] {
    width: 24px;
    height: 24px;
    border: none;
    background: url(../../images/search.png) no-repeat 50% 50%; /* Параметры фона */
}

.leftInfo{
    display: flex;
}

.leftInfo h1{
    color: #293e4c;
}

.liWrapper span{
    color: #293e4c;
    font-weight: bold;
}

.circle{
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: beige;
    margin-right: 15px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}
.circle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.pagination{
    display: flex;
    justify-content: space-around;
    background-color: #2989d8;
    position: relative;
}

#page-numbers {
    list-style: none;
    display: flex;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,40%);
}

#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
#page-numbers > li:hover,focus{
    color: #293e4c;
}

@media (max-width: 921px ) {
    h1{
        font-size: 12px;
    }

    .circle{
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    .circle span{
        font-size: 14px;
    }

    .propertyForP{
        font-size: 12px;
    }

    .blockPerson li .liWrapper{
        width: 100%;
    }

    li:nth-child(-n+3) .medal {
        width: 16px;
        height: 30px;
    }

    .blockPerson li{
        padding-left: 2%;
    }

    .searchMain form {
        margin-left: 2%;
    }

    .searchMain {
        min-height: 45px;
    }

    input[type="submit"] {
        margin-top: 3%;
    }

    input[type="text"] {
        padding-bottom: 3%;
    }
}